.list-group-item {
  display: flex;
}

.fa-trash-alt {
  color: red;
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}
/*  */

.list-group-item {
  max-width: 35rem;
  display: flex;
}
.form-control {
  max-width: 33rem;
}

.form-check {
  width: 100%;
  display: flex;
}
h6 {
  margin-right: auto;
  margin-left: 1rem;
}

.button {
  border-radius: 0px 5px 5px 0px;
}
